@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  background-color: rgb(65, 119, 221);
  color: #fff;
  height: 50px;
  position: fixed;
  z-index: 9;
  transition: all 0.3s ease-in-out;
}

nav.hidden {
  transform: translateY(-100%);
}

nav .container {
  height: 100%;
  width: 96%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .container .social {
  font-size: 22px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav .container .social a {
  color: inherit;
  transition: all ease-in-out 0.2s;
}

nav .container .social a:hover {
  color: lightpink;
}

nav .container .name {
  width: 40%;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: normal;
  animation: brand-letters 2s infinite ease-in-out;
}

@keyframes brand-letters {

  0%,
  100% {
    letter-spacing: normal;
  }

  40% {
    letter-spacing: 1.5px;
  }

  70% {
    letter-spacing: -1.5;
  }
}

/* Section Home */
section.home {
  height: 100vh;
  background-image: url(./../images/bg-home.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  background-position: left center;
}

section.home .container {
  width: 96%;
  margin: auto;
}

section.home .container h1 {
  font-size: 80px;
  color: rgb(230, 29, 62);
}

section.home .container h1+p {
  padding-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
}

section.home .container .info {
  margin-bottom: 50px;
}

section.home .container p {
  margin: 10px 0;
}

section.home .container p span {
  font-weight: 900;
}

section.home .container .btn {
  display: inline-block;
  overflow: hidden;
  padding: 10px 0;
  position: relative;
}

section.home .container a {
  padding: 10px 15px;
  background-color: rgb(230, 29, 62);
  color: #fff;
}

section.home .container .btn::after {
  content: "";
  background-color: #ffffff9f;
  width: 25px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -25px;
  transform: skew(-10deg);
  filter: blur(5px);
  transition: all ease-in-out .7s;
  z-index: 11;
}

section.home .container .btn:hover::after {
  left: 110%;
}

/* Responsive Nav and Home */
/* Media 786px */
@media screen and (max-width: 786px) {
  nav {
    height: 100px;
  }

  nav .container {
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: space-evenly;
  }

  nav .container .social {
    width: 50%;
  }

  nav .container .name {
    font-size: 30px;
    font-weight: 900;
  }

  section.home .container h1 {
    font-size: 60px;
  }

  section.home .container p span {
    margin-top: 8px;
    display: block;
  }
}

/* End Responsive */
section.designs {
  padding: 4% 0;
}

section.designs h2 {
  text-align: center;
  font-weight: 500;
  position: relative;
}

section.designs h2::before {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 0 9px;
}

section.designs h2::after {
  content: "";
  width: 200px;
  height: 3px;
  background: #000;
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  border-radius: 5px;
}

section.designs .container {
  width: 96%;
  margin: auto;
}

section.designs .gallery {
  margin: 5%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

section.designs .gallery .item {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(230, 29, 62);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

section.designs .gallery .item .image {
  width: 100%;
  height: 100%;
}

section.designs .gallery .item .image img {
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
}

section.designs .gallery .item .info {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(230, 29, 62, 0.507);
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  transform: translateY(100%);
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

section.designs .gallery .item:hover .info {
  transform: translateY(0);
}

section.designs .gallery .item .info h4 {
  font-weight: 500;
  font-size: 26px;
}

section.designs .gallery .item .info p {
  font-style: italic;
}

section.designs .gallery .item .info span {
  font-size: 13px;
  border: 2px solid #fff;
  padding: 3px;
  border-radius: 50%;
  margin-left: 3px;
}

section.designs .gallery .item .info .btn {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff93;
  border-radius: 3px;
}

section.designs .gallery .item .info .btn a {
  color: rgb(230, 29, 62);
  padding: 8px;
}

section.designs .gallery .item .info .btn {
  color: rgb(230, 29, 62);
}

section.designs .gallery .item .info .btn::after {
  content: "";
  background-color: rgb(230, 29, 62);
  width: 25px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50%;
  transform: skew(-10deg);
  filter: blur(5px);
  transition: all ease-in-out .3s;
  z-index: 11;
}

section.designs .gallery .item .info .btn:hover::after {
  left: 110%;
}

/* Location */
section.location {
  padding: 6% 2%;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.location .info {
  color: #fff;
}

section.location .info h3 {
  font-size: 22px;
  font-weight: normal;
  padding-bottom: 23px;
}

section.location .info p {
  font-size: 20px;
}

@media screen and (max-width: 786px) {
  section.location {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  .map {
    width: 90%;
  }

  .map iframe {
    width: 100% !important;
  }
}

/* Contact us */
section.contact {
  padding: 6% 2%;
  color: #fff;
  background-color: #464343;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

section.contact form {
  display: flex;
  flex-direction: column;
}

section.contact form * {
  background: transparent;
  border: 1.5px solid #fff;
  border-radius: 4px;
  padding: 10px 8px;
  outline: none;
  font-size: 16px;
  margin: 8px;
  color: #fff;
}

section.contact form *::placeholder {
  color: rgb(252, 229, 233)
}

section.contact form .main {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.contact form textarea {
  resize: none;
}

section.contact form input#submit {
  align-self: flex-end;
  padding: 12px 25px;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

section.contact form input#submit:hover {
  background-color: #fff;
  color: rgb(230, 29, 62)
}

section.contact .text h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

@media screen and (max-width: 786px) {
  section.contact {
    justify-content: center;
    flex-direction: column-reverse;
  }

  section.contact form .main {
    flex-direction: column;
    padding: 0 10px;
  }

  section.contact form .main * {
    width: 100%;
  }

  section.contact form input#submit {
    align-self: center;
    padding: 12px 100px;
  }
}

/* End Contact */

/* Footer */
footer {
  padding: 2% 0;
  background-color: rgb(65, 119, 221);
}

footer .container {
  height: 100%;
  width: 96%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .container .social {
  font-size: 22px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer .container .social a {
  color: #fff;
  transition: all ease-in-out 0.2s;
}

footer .container .social a:hover {
  color: lightpink;
}

footer .title {
  color: rgb(104, 9, 25);
  font-size: 20px;
  animation: blink 1.5s infinite linear;
}

footer .copy {
  font-size: 14px;
  color: #fff;
}

@media screen and (max-width: 786px) {
  footer .container {
    flex-direction: column;
    gap: 30px;
  }

  footer .container .social {
    width: 50%;
  }
}

@keyframes blink {

  0%,
  100% {
    color: rgb(214, 6, 41)
  }

  50% {
    color: #fff;
  }
}